<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="/static/scripts/fileinput.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/styles/app.css">
<link rel="stylesheet" type="text/css" href="/static/styles/fileinput.min.css">

</head>
<body>

<div class="container">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-8">
          <button class="btn btn-primary" type="button">Prepare New</button>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary" type="button">Temp Prop ID</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1>Proposal Header Area</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="">Cover Sheet</a></li>
            <li role="presentation"><a href="">Project Description</a></li>
            <li role="presentation"><a href="">Data Management Plan</a></li>
          </ul>

        </div>
        <div class="col-xs-10">
          <h1>Temporary Drag Drop Upload</h1>


		  
		  

          <form id="form" method="POST" enctype="multipart/form-data" action="http://localhost/docService/proposal/1234567/projdesc">
			
			Temp Prop Id: &nbsp;<input type="text" placeholder="Temp Prop Id" id="tempPropId"><br><br>
			
			Section Type: <select id="sectionType" name="sectionType">
			  <option id="projdesc" value="projdesc">Project Description</option>
			  <option id="dmp" value="dmp">Data Management Plan</option>
			</select>
			
			<br><br>
			
			
			<!--File to upload: <input type="file" name="uploadedFile"><br />
			<br><br><input type="submit" value="Upload"> -->
			
			<label class="control-label">File to upload:</label>
			<input id="input-dim-1" name="uploadedFile" type="file" class="file-loading" accept="pdf">
			
			<input class="btn btn-primary" type="submit" value="Upload">
			
		</form>
		
				<br><br>
		<br>Project Description<br>
			#foreach($doc in $pdList)
			<br><a href="/docService/proposal/$doc.tempPropId/$doc.getURLEnd()">$doc.tempPropId</a>
			#end
		<br>
		<br>Data Management Plan<br>
			#foreach($doc in $dmpList)
			<br><a href="/docService/proposal/$doc.tempPropId/$doc.getURLEnd()">$doc.tempPropId</a>
			#end
		<br>
		<br>Proposals<br>
			#foreach($tempPropId in $propList)
			<br><a href="/docService/proposal/$tempPropId">$tempPropId</a>
			#end
		<br>



        </div>
      </div>
    </div>



<script>

	$(document).ready(function(){
		 $('input[type="submit"]').prop('disabled', true);
		 
		 $el = $("#input-dim-1"), initPlugin = function() {
			$el.fileinput({
				uploadUrl: "http://localhost/docService/proposal/1234567/projdesc",
				showUpload: false,
				allowedFileExtensions: ["pdf", "jpg", "png", "gif"],
				minImageWidth: 50,
				minImageHeight: 50
			});
			};
 
		// initialize plugin
		initPlugin();
		
		//alert(""+$("#form").attr("action"));
		 
	});

	$( "#tempPropId" ).change(function() {
	
		var eVal = $(this).val();
		//var eValLength = eVal.length;
		
		var pattern = /\d{7}/;
		var result = pattern.test(eVal);
		
		if (result) {
		
			action = $("#form").attr("action");
			
			action = action.replace(pattern, eVal);
			
			$("#form").attr("action", action);	
		
			$('input[type="submit"]').prop('disabled', false);
		} else {
			$('input[type="submit"]').prop('disabled', true);
		}
		
		//alert(""+$("#form").attr("action"));
	});
	
	$("#sectionType").change(function() {
		
		value = $(this).val();
		
		action = $("#form").attr("action");
		
		lastSlash = action.lastIndexOf("/");
		
		remove = action.substring(lastSlash+1, action.length);
		
		action = action.replace(remove, value);
		
		$("#form").attr("action", action);		
		//alert(""+$("#form").attr("action"));
	});
	
	 //$("#input-dim-1").fileinput({
     //     uploadUrl: "http://localhost/docService/proposal/1234567/projdesc",
     //     allowedFileExtensions: ["pdf", "jpg", "png", "gif"],
     //     minImageWidth: 50,
     //     minImageHeight: 50
     // });
	  
	  $(":input").change(function() {
		$("#input-dim-1").fileinput({uploadUrl: $("#form").attr("action")});
	  });
	  
	  
	  

</script>

</body>
</html>