<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>


<br>
<br>
	
 	<!--<div ng-app = "">
	<form>
	Temp Prop Id: &nbsp;<input type="text" placeholder="Temp Prop Id" ng-model="tempPropId"><br><br>{{tempPropId}}
	<form>
	</div>--> 
	<form method="POST" enctype="multipart/form-data" action="http://localhost/docService/proposal/1234567/projdesc">
	Temp Prop Id: &nbsp;<input type="text" placeholder="Temp Prop Id" ng-model="tempPropId"><br><br>
	Section Type: <select name="sectionType">
	  <option value="projdesc">Project Description</option>
	  <option value="dmp">Data Management Plan</option>
	</select><br><br>
	File to upload: <input type="file" name="uploadedFile"><br />
	<br><br><input type="submit" value="Upload">
	
	</form>
	
	<form method="POST" enctype="multipart/form-data" action="http://localhost/docService/proposal/1234567/dmp">
	Temp Prop Id: &nbsp;<input type="text" placeholder="Temp Prop Id" ng-model="tempPropId"><br><br>
	Section Type: <select name="sectionType">
	  <option value="dmp">Data Management Plan</option>
	  <option value="projdesc">Project Description</option>
	</select><br><br>
	File to upload: <input type="file" name="uploadedFile"><br />
	<br><br><input type="submit" value="Upload">
	
	</form>

<br>
<br>
<br>
<br>Project Description<br>
	#foreach($doc in $pdList)
	<br><a href="/docService/proposal/$doc.tempPropId/$doc.getURLEnd()">$doc.tempPropId</a>
	#end
<br>
<br>Data Management Plan<br>
	#foreach($doc in $dmpList)
	<br><a href="/docService/proposal/$doc.tempPropId/$doc.getURLEnd()">$doc.tempPropId</a>
	#end
<br>
<br>Proposals<br>
	#foreach($tempPropId in $propList)
	<br><a href="/docService/proposal/$tempPropId">$tempPropId</a>
	#end
<br>
</body>
</html>