<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="/static/scripts/fileinput.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/styles/app.css">
<link rel="stylesheet" type="text/css" href="/static/styles/fileinput.min.css">

</head>
<body>

<div class="container">
     
			
					
		
				<div class="col-xs-4">
					<table class="table table-bordered table-striped">
						<thead><th colspan="2">BioSketches</th></thead>
						<tbody>
							#foreach($doc in $bsList)
							<tr><td>$doc.pdfErrorMessage</td></tr>
							#end
						</tbody>
					</table>
				
    </div>
        </div>



</body>
</html>